/*CSS file*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.header-main {
	background-color: #1EB0EE;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}

.div-header {
	width: 100%;
}

.img-header {
	width: 100%;
}

.div-info {
	background-color: #fff;
}

.div-div-info {
	max-width: 1100px;
	margin: 0 auto;
	padding: 70px 20px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-about {
	max-width: 590px;
	text-align: justify;
	padding: 0 15px;
}

.p-about {
	line-height: 220%;
	font-size: 26px;
	font-weight: 300;
}

.div-sponsor {
	height: 550px;
	background: url("../img/sponsor.jpeg") center no-repeat fixed;
    background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-div-sponsor {
	background-color: white;
	height: 170px;
	width: 810px;
	border-radius: 25px;
	text-align: center;
	border: 3px dashed grey;
}

.h2-sponsor {
	font-size: 42px;
	padding: 20px 0;
}

.div-botton-sponsor {
	margin: 10px auto 0;
	background-color: #4286f4;
	width: 160px;
	border-radius: 25px;
	padding: 5px;
}

.div-botton-sponsor:hover {
	background-color: #79D2FC;
	cursor: pointer;
}

.p-botton-sponsor {
	color: white;
	font-size: 20px;
}

.div-speakers {
	margin: 40px 0;
	background-color: white;
}

.section-div-speakers {
	text-align: center;
}

.h2-speakers {
	font-size: 60px;
}

.div-speaker-list {
	max-width: 1100px;
	margin: 0 auto;
	padding: 70px 20px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-speaker {
	width: 420px;
	margin: 10px 0;
}

.img-speaker {
	width: 200px;
}

.h3-speaker-name {
	font-size: 26px;
	font-weight: 400;
	line-height: 140%;
}

.p-speaker-title {
	font-size: 19px;
	font-weight: 300;
	line-height: 220%;
}

.div-top-timer {
	height: 200px;
	background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}

.div-timer {
	height: 300px;
	background-color: #212531;
}

.div-bottom-timer {
	height: 200px;
	background: linear-gradient(to right bottom, #212531 50%, #2f3441 50%);	
}

.footer {
	height: 80px;
	background-color: #333;
	text-align: center;
}

.p-footer {
	color: #999;
	padding-top: 30px;
}


